@import url('https://fonts.google.com/specimen/Source+Sans+Pro');

body {
    font-family: "Source Sans Pro";
    font-size: 14px;
}

nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
nav li{
    color: #4F4F4F;
    list-style-type: none;
    font-size: 20px;
    padding: 0px 25px;
    }
   
/*
nav ul{
    text-align: right; 
    float: right;
}
*/

.logo{
    width: 50px;
    height: 50px;
    float: left;
}


h3{
    color: #cf7d38;
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}

h5{
    color: #cf7d38;
    font-size: 30px;
}

p{
    color: #4f4f4f;
}

.mainhome{
    background-image: url(homepagebg.png);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
    background-size: cover;
}

.mainhome h1{
    color: white;
    font-size: 100px;  
}

.mainhome h2{
    top: 480px;
    background-color: #cf7d38;
    padding: 80px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 32%;
    margin-right: 32%;
}

a:link{
    color: #4F4F4F;
    text-decoration: none;
        }
a:visited{
    color: #4F4F4F;
    text-decoration: none;   
        }
a:active{
    text-decoration: underline;
    color: #cf7d38;
        }

.caption{
    text-align: center
}

table.menugrid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*table{
    border-collapse: collapse;
    table-layout: fixed;
    }*/

.caption{
    text-align: center;
}

.details{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}

tr, td{
    /*border: 1px solid black;*/
    vertical-align: top;

}

form{
    color: #4f4f4f;
}

button{
    margin-top: 15px;
}