@import url('https://fonts.google.com/specimen/Source+Sans+Pro');

body {
    font-family: "Source Sans Pro";
    font-size: 14px;
}
    
nav li{
    color: #4F4F4F;
    list-style-type: none;
    display:inline-block;
    font-size: 20px;
    padding: 0px 25px;
    }
   
nav ul{
    text-align: right; 
    float: right;
}

.logo{
    width: 50px;
    height: 50px;
    float: left;
}

h1{
    top: 200px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 100px;
    position: absolute;
}

h2{
    position: absolute;
    top: 480px;
    background-color: #cf7d38;
    margin-left: 33%;
    margin-right: 33%;
    padding: 80px;
    color: white;
    font-size: 30px;
    text-align: center;
}

h3{
    color: #cf7d38;
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}

.behind{
    position: relative;
    width: 100%;
    
}

a:link{
    color: #4F4F4F;
    text-decoration: none;
        }
a:visited{
    color: #4F4F4F;
    text-decoration: none;   
        }
a:active{
    text-decoration: underline;
    color: #cf7d38;
        }

.caption{
    text-align: center
    
}

table.menugrid{
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

table{
    border-collapse: collapse;
    }
.caption{
    text-align: center;
}